@keyframes slide-right {
  from {
    transform: translatex(-100%);
    opacity: 0;
  }

  to {
    transform: translatex(0%);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translatex(100%);
    opacity: 0;
  }

  to {
    transform: translatex(0);
    opacity: 1;
  }
}
