:root {
  --primary-color: #ffffff;
  --secondary-color: #333333;
  --btn-color: #53c1c7;
  --text-color: #2c2c2c;
  --span-color: #4da6ab;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  box-sizing: inherit;
  font-family: "Inter Tight", sans-serif;
  background-color: var(--primary-color);
}

/* TYPOGRAPHY */

.heading-primary {
  font-size: 7rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.heading-primary span {
  font-size: 7rem;
  font-weight: bold;
  color: var(--span-color);
}

.paragraph {
  font-size: 1.6rem;
}

/* UTILITIES */
.center-children {
  padding-left: 3vw !important;
  padding-right: 3vw !important;
}

/* NAVIGATION */

.navigation {
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 2rem;
}

.navigation figure.nav_logo {
  width: 1rem;
  height: 3.5rem;
  flex: 0.4;
  left: 0;
  flex-shrink: 0;
  display: flex;
  vertical-align: center;
  margin-left: -15rem;
  width: 100%;
}

.navigation figure.nav_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation .nav_action a {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
  background-color: var(--btn-color);
  padding: 1.7rem 3.5rem;
  border-radius: 10px;
}

/* HEADER */

header.header {
  min-height: 70vh;
  margin: 4rem;
}

header.header .container .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header.header .container .wrapper.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: slide-right 1.5s 2s ease-in-out;
}

header.header .container .wrapper.left {
  animation: slide-left 1.5s 2s ease-in-out;
  display: flex;
  gap: 5rem;
}

header.header .container .wrapper .composition {
  flex: 0.5;
  height: 20rem;
}

header.header .container .wrapper .composition.space {
  flex: 0.5;
}

header.header .container .wrapper .composition.space img {
  height: 100%;
  width: 30rem;
  border-radius: 40px;
  object-fit: cover;
}

header.header .container .wrapper .composition img {
  height: 100%;
  width: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

header.header .container .wrapper .composition.space img {
  height: 100%;
  width: 30rem;
  border-radius: 108px;
  object-fit: cover;
}

header.header .container .wrapper .heading-primary {
  flex: 1.4;
  letter-spacing: 7px;
}

@keyframes slide-right {
  from {
    transform: translatex(0);
    opacity: 0;
  }

  to {
    transform: translatex(100%);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translatex(100%);
    opacity: 0;
  }

  to {
    transform: translatex(0);
    opacity: 1;
  }
}

figure.images {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* article.images .wrapper figure.column {
} */

figure.images .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

figure.images .container img {
  height: 40rem;
  width: 25rem;
  object-fit: contain;
  border-radius: 20px;
  border: 2px solid #00000042;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 1000ms;
}

figure.images .container img:hover {
  /* filter: grayscale(1); */
  transform: scale(1.03);
}

figure.images .container-wrapper img {
  height: 20rem;
  width: 25rem;
}

/* article.images .wrapper figure.row {

} */

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {
  .navigation figure.nav_logo {
    width: 1rem;
    height: 3.5rem;
    flex: 0.4;
    left: 0;
    flex-shrink: 0;
    display: flex;
    vertical-align: center;
    margin-left: -7rem;
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {

  header.header {
    min-height: 40vh;
    margin: 4rem;
  }

  figure.images .container-wrapper img {
    height: 19rem;
    width: 25rem;
}
}


@media only screen and (max-width: 900px) {
  .heading-primary {
    font-size: 5rem;
    font-weight: bold;
    color: var(--secondary-color);
  }

  .heading-primary span {
    font-size: 5rem;
    font-weight: bold;
    color: var(--span-color);
  }
  .navigation figure.nav_logo {
    margin-left: -4rem;
    width: 100%;
  }

  .navigation .nav_action a {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1.3rem 3rem;
    border-radius: 10px;
  }

  /* HEADER */

  header.header {
    margin: 3rem;
  }

  header.header .container .wrapper.right {
    gap: 2rem;
  }

  header.header .container .wrapper .composition {
    flex: 0.5;
    height: 20rem;
  }

  header.header .container .wrapper .composition.space {
    flex: 0.6;
  }

  header.header .container .wrapper .composition img {
    height: 100%;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
  }

  header.header .container .wrapper .heading-primary {
    flex: 1.4;
    letter-spacing: 4px;
  }

  figure.images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  figure.images .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  figure.images .container img {
    height: 35rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 0px;
  }

  figure.images .container-wrapper img {
    height: 35rem;
    width: 19rem;
  }
  figure.images .container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 700px) {
  h1 {
    width: 100%;
  }

  h1 span {
    margin: 0 auto;
    width: 100%;
  }

  .paragraph {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }

  .navigation figure.nav_logo {
    margin-left: 0;
  }

  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .heading-primary {
    font-size: 5rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
  }

  .heading-primary span {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  header.header .container .wrapper.right {
    flex-direction: column;
  }

  header.header .container .wrapper.left {
    flex-direction: column-reverse;
    align-items: center;
  }

  header.header .container .wrapper .composition {
    /* width: 40rem; */
    margin: 2rem;
    height: 30rem;
  }

  header.header .container .wrapper .composition img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  header.header .container .wrapper .composition.space {
    /* width: 40rem; */
    margin: 2rem;
    height: 30rem;
    width: 40rem;
  }

  header.header .container .wrapper .composition.space img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  figure.images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  figure.images .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  figure.images .container img {
    height: 35rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 0px;
  }

  figure.images .container-wrapper img {
    height: 35rem;
    width: 19rem;
  }
  figure.images .container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .navigation .nav_action a {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1.2rem 2rem;
    border-radius: 10px;
  }
  .paragraph {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
  }

  .heading-primary {
    font-size: 4rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }

  .heading-primary span {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  header.header {
    margin: 0;
  }

  header.header .container {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .heading-primary {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

}

@media only screen and (max-width: 450px) {
  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .navigation .nav_logo {
    width: 10rem;
    height: 6rem;
  }

  .navigation .nav_action a {
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1.1rem 1.5rem;
    border-radius: 10px;
  }

  header.header .container .wrapper.right {
    gap: 0;
  }

  header.header .container .wrapper.left {
    gap: 0;
  }

  .heading-primary {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  figure.images {
    overflow-x: hidden;
  }

  figure.images .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
  }

  figure.images .container img {
    height: 35rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 0px;
  }

  figure.images .container-wrapper img {
    height: 35rem;
    width: 18rem;
  }
  figure.images .container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 390px) {
  .heading-primary {
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 2.7rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
}

@media only screen and (max-width: 350px) {
  .heading-primary {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }
}
