:root {
  --primary-color: #ffffff;
  --secondary-color: #333333;
  --btn-color: #53c1c7;
  --text-color: #2c2c2c;
  --span-color: #4da6ab;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
}

/* TYPOGRAPHY */

.heading-primary {
  font-size: 8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}
.heading-primary span {
  font-size: 7rem;
  font-weight: bold;
  color: var(--span-color);
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.heading-tertiary {
  font-size: 3.3rem;
  font-weight: 500;
  color: var(--primary-color);
}

.paragraph {
  font-size: 1.6rem;
}

/* UTILITIES */
.center-children {
  padding-left: 3vw !important;
  padding-right: 3vw !important;
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.navigation .nav_button {
  display: none;
}

.navigation #checkbox {
  display: none;
}

.navigation figure.nav_logo {
  height: 3.5rem;

  flex: 0.3;
  left: 0;
  flex-shrink: 0;
  display: flex;
  vertical-align: center;
}

.navigation figure.nav_logo img {
  width: 3rem;
  height: 100%;
  object-fit: contain;
  width: 20rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.navigation ul.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 500;
  gap: 5rem;

  color: var(--primary-color);
}

.navigation ul.nav_list li a {
  text-decoration: none;
  justify-content: center;
  color: var(--primary-color);
}

.navigation .nav_action {
  gap: 1.5rem;
  align-items: center;
}

.navigation .nav_action a {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
  background-color: var(--btn-color);
  padding: 1.7rem 3.5rem;
  border-radius: 10px;
}
/* 
#checkbox:checked ~ .nav_list{
  background-color: red;
} */

/* HEADER */

header.header {
  margin: 4rem;
}

header.header .container .wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

header.header .container .wrapper.right {
  display: flex;
  align-items: flex-end;
  animation: slide-right 1.5s 2s ease-in-out;
}

header.header .container .wrapper .heading-primary {
  margin-right: 4rem;
}

header.header .container .wrapper.left {
  animation: slide-left 1.5s 2s ease-in-out;
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}

header.header .container .wrapper .composition.space img {
  width: 30rem;
  border-radius: 40px;
  object-fit: cover;
}

header.header .container .wrapper .composition img {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  object-fit: cover;
}

header.header .container .wrapper .composition.space img {
  height: 16rem;
  width: 30rem;
  border-radius: 108px;
  object-fit: cover;
}

/* IMAGES */

section.images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

section.images .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

section.images .container img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  border-radius: 4rem;
  cursor: pointer;
  transition: 500ms;
}

section.images .container img:hover {
  /* filter: grayscale(1); */
  transform: scale(1.03);
}

section.images .container-wrapper img {
  height: 20rem;
  width: 100%;
}

/* ABOUT */

section.about {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

section.about div {
  padding-top: 3rem;
  justify-content: center;
  background-color: var(--secondary-color);
}

section.about .heading-secondary {
  padding-left: 4rem;
}

.about .about-container {
  padding: 4rem 4rem;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about .about-container .composition img {
  height: 25rem;
  width: 30rem;
  flex: 0.6;
  object-fit: cover;
}

.about .about-container .textbox {
  flex: 1.4;
  flex-grow: 1;
}

.about .about-container .textbox .paragraph {
  width: 80%;
}

.about .about-container .textbox .about-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}

div.digit {
  font-size: 3rem;
  font-weight: 500;
}

/* GALLERY */

section.gallery {
  margin-top: 4rem;
  margin-bottom: 6rem;
  /* padding-bottom: 2rem; */
}

section.gallery div {
  background-color: var(--secondary-color);
  justify-content: center;
}

section.gallery .heading-secondary {
  padding-left: 4rem;
  padding-top: 3rem;
}

section.gallery .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 3rem 4rem;
}

section.gallery .container img {
  height: 40rem;
  width: 100%;

  object-fit: cover;
  border-radius: 4rem;
  cursor: pointer;
  transition: 400ms;
}

section.gallery .container img:hover {
  /* filter: grayscale(1); */
  transform: scale(1.03);
}

a.gallery-link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--span-color);
  margin: 1rem 4rem;
}

/* SERIVCES */

section.serivces div {
  background-color: var(--secondary-color);
  justify-content: center;
}

section.serivces .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;

  padding: 3rem 4rem;
}

section.serivces .heading-secondary {
  padding-left: 4rem;
  padding-top: 3rem;
}

section.serivces .heading-tertiary {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2.3rem;
}

section.serivces .container img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  border-radius: 4rem;
  cursor: pointer;
  transition: 400ms;
}

section.serivces .container img:hover {
  /* filter: grayscale(1); */
  transform: scale(1.03);
}

footer.foot {
  background-color: var(--secondary-color);
  justify-content: center;
  margin-top: 6rem;
}

footer.foot .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 4rem;
  color: var(--primary-color);
  justify-content: center;
  font-size: 1.3rem;
  width: 100%;
}

footer.foot .container .foot-logo img {
  height: 3.5rem;
}

footer.foot .container .foot-wrapper ul.foot-list li {
  list-style: none;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

footer.foot .container .foot-wrapper p {
  margin-top: 2rem;
}

footer.foot .container .foot-wrapper .foot-contact {
  display: flex;
  gap: 2rem;
}

footer.foot .container .foot-wrapper .foot-contact {
  color: #fff;
}

footer.foot .icons {
  color: #ffffff;
  display: flex;
  font-size: 1.5rem;
  gap: 4rem;
  align-items: flex-end;
}

footer.foot .icons a {
  color: #ffffff;
  display: flex;
  font-size: 1.5rem;

  align-items: center;
}

footer.foot .icons a:hover:last-child {
  background: linear-gradient(blue, red);
  background-clip: inherit;
  -webkit-text-fill-color: transparent;
  box-sizing: 50%;
}

footer.foot .container .foot-wrapper ul li {
  line-height: 2;
  list-style: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {
  .navigation section.nav_logo {
    width: 1rem;
    height: 3.5rem;
    flex: 0.4;
    left: 0;
    flex-shrink: 0;
    display: flex;
    vertical-align: center;
    margin-left: -7rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  header.header {
    min-height: 40vh;
    margin: 4rem;
  }

  section.images .container-wrapper img {
    height: 19rem;
    width: 25rem;
  }

  div.digit {
    font-size: 2rem;
    font-weight: 500;
  }
  .heading-tertiary {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 950px) {
  .navigation .nav_list {
    top: 0;
    right: 0;
    z-index: 100;
    position: fixed;
    font-size: 1.4rem;
    background-color: rgba(51, 51, 51, 0.6);
    height: 100%;
    backdrop-filter: blur(1.5px);
    padding: 2rem;
    flex-direction: column;
    width: min(100%, 40rem);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .navigation ul.nav_list li a {
    font-size: 1.7rem;
    color: var(--primary-color);
  }

  .navigation .nav_action{
    display: flex;
  }

  .navigation .nav_button {
    display: block;
    position: relative;
    z-index: 101;
    font-size: 4rem;
    color: var(--primary-color);
  }

  .navigation .nav_button.span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation .nav_button span.close {
    display: none;
  }

  .navigation .nav_button span.open {
    display: flex;
  }

  .navigation #checkbox:checked ~ .nav_list {
    transform: translateX(0);
  }

  .navigation #checkbox:checked ~ .nav_action .nav_button span.open {
    display: none;
  }

  .navigation #checkbox:checked ~ .nav_action .nav_button span.close {
    display: flex;
  }
}
@media only screen and (max-width: 900px) {
  .heading-primary {
    font-size: 5rem;
    font-weight: bold;
    color: var(--secondary-color);
  }

  .heading-primary span {
    font-size: 5rem;
    font-weight: bold;
    color: var(--span-color);
  }
  .navigation section.nav_logo {
    margin-left: -4rem;
    width: 100%;
  }

  .navigation .nav_action a {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1.3rem 3rem;
    border-radius: 10px;
  }

  div.digit {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .heading-tertiary {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  /* HEADER */

  header.header {
    margin: 3rem;
  }

  header.header .container .wrapper.right {
    gap: 2rem;
  }

  header.header .container .wrapper .composition {
    flex: 0.5;
    height: 20rem;
  }

  header.header .container .wrapper .composition.space {
    flex: 0.6;
  }

  header.header .container .wrapper .composition img {
    height: 100%;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
  }

  header.header .container .wrapper .heading-primary {
    flex: 1.4;
    letter-spacing: 4px;
  }

  section.images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.images .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  section.images .container img {
    height: 35rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  section.images .container-wrapper img {
    height: 35rem;
    width: 19rem;
  }
  section.images .container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about .about-container .textbox .paragraph {
    width: 100%;
    font-size: 1.4rem;
  }

  
}

@media only screen and (max-width: 800px) {
  .heading-secondary {
    font-size: 3.3rem;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--primary-color);
  }

  .heading-tertiary {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  .navigation figure.nav_logo {
    height: 4rem;
    flex: 0.4;
    left: 0;
    flex-shrink: 0;
    display: flex;
    vertical-align: center;
  }
  section.images .container img {
    height: 35rem;
    width: 37rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  .about .about-container {
    padding: 4rem 2rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  div.digit {
    font-size: 1.7rem;
    font-weight: 500;
  }

  section.gallery .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 3rem 4rem;
  }

  section.serivces .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;

    padding: 3rem 4rem;
  }

  section.serivces .heading-secondary {
    padding-left: 4rem;
    padding-top: 3rem;
    padding: 3rem 0 2rem 4rem;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    width: 100%;
  }

  h1 span {
    margin: 0 auto;
    width: 100%;
  }

  .paragraph {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }
  .navigation {
    height: 9.6rem;
    padding: 0px 3.8rem;
  }

  .navigation section.nav_logo {
    margin-left: 0;
  }

  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .heading-primary {
    font-size: 5rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
  }

  .heading-primary span {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  header.header .container .wrapper .heading-primary {
    margin-right: 0;
    text-align: center;

    letter-spacing: 0;
  }

  header.header .container .wrapper.right {
    flex-direction: column;
  }

  header.header .container .wrapper.left {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  header.header .container .wrapper .composition {
    /* width: 40rem; */
    margin: 2rem;
    height: 30rem;
  }

  header.header .container .wrapper .composition img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  section.images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.images .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  section.images .container img {
    height: 35rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 0px;
  }

  section.images .container-wrapper img {
    height: 35rem;
    width: 19rem;
  }
  section.images .container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about .about-container {
    flex-direction: column;
  }

  section.images .container-wrapper img {
    height: 20rem;
    width: 40rem;
  }

  .about .about-container .textbox .paragraph {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }

  .about .about-container .textbox .about-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
  }

  footer.foot div.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    font-size: 1.3rem;
    width: 100%;
  }

  footer.foot .container .foot-wrapper p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  footer.foot .icons {
    color: #ffffff;
    display: flex;
    font-size: 1.5rem;
    gap: 4rem;
    align-items: center;
  }

  .navigation .nav_action {
    gap: 0.5rem;
    align-items: center;
}
}

@media only screen and (max-width: 600px) {
  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  .navigation .nav_action a {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1.2rem 2rem;
    border-radius: 10px;
  }
  .paragraph {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
  }

  .heading-primary {
    font-size: 4rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }

  .heading-primary span {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  header.header {
    margin: 0;
  }

  header.header .container {
    margin: 0;
  }

  section.serivces .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    padding: 3rem 4rem;
  }
}

@media only screen and (max-width: 500px) {
  .heading-primary {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  .navigation figure.nav_logo img {
    width: 3rem;
    height: 100%;
    object-fit: contain;
    width: 14rem;
  }

  .heading-tertiary {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  .about .about-container .textbox .paragraph {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  div.digit {
    font-size: 1.5rem;
    font-weight: 500;
  }

  section.serivces .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;

    padding: 3rem 4rem;
  }
}

@media only screen and (max-width: 450px) {
  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
  section.gallery .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 3rem 4rem;
  }
}

@media only screen and (max-width: 420px) {
  .navigation {
    height: 9.6rem;
    padding: 0px 2rem;
  }

  .navigation .nav_list {
    width: min(100%, 30rem);
  }

  

  .navigation .nav_action a {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1.2rem 1.2rem;
    border-radius: 10px;
}

  header.header .container .wrapper.right {
    gap: 0;
  }

  header.header .container .wrapper .heading-primary {
    margin-right: 0;
    text-align: center;
    letter-spacing: 0;
    margin-top: 4rem;
  }

  .paragraph.head {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
    width: 70%;
    margin: 0 auto;
  }

  section.gallery .container img {
    height: 35rem;
    width: 100%;

    object-fit: cover;
    border-radius: 4rem;
    cursor: pointer;
    transition: 500ms;
  }

  footer.foot .container .foot-logo img {
    margin-left: -1rem;
    height: 3.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .navigation {
    height: 9.6rem;
    padding: 0px 1.8rem;
  }

  .navigation .nav_logo {
    width: 10rem;
    height: 3rem;
  }

  .navigation .nav_action a {
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--btn-color);
    padding: 1.1rem 1.5rem;
    border-radius: 10px;
  }

  .navigation .nav_button {
    display: block;
    position: relative;
    z-index: 101;
    font-size: 3.5rem;
    color: var(--primary-color);
  }


  header.header .container .wrapper.right {
    gap: 0;
  }

  header.header .container .wrapper.left {
    gap: 0;
  }

  .heading-primary {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  section.images {
    overflow-x: hidden;
  }

  section.images .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
  }

  section.images .container img {
    height: 35rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 0px;
  }

  section.images .container-wrapper img {
    height: 35rem;
    width: 18rem;
  }
  section.images .container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-tertiary {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  .about .about-container .textbox .paragraph {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }

  div.digit {
    font-size: 1.5rem;
    font-weight: 500;
  }

  section.serivces .container img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
    border-radius: 4rem;
    cursor: pointer;
    transition: 400ms;
  }
}

@media only screen and (max-width: 390px) {
  .heading-primary {
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 2.7rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  .center-children {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }

  header.header .container .wrapper .composition.space img {
    height: 14rem;
    width: 30rem;
    border-radius: 108px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 350px) {
  .heading-primary {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .heading-primary span {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--span-color);
    width: 100%;
  }

  section.about .heading-secondary {
    padding-left: 2rem;
  }
}
